* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
a {
  color: #444;
  text-decoration: none;
}
ul, li {
  list-style: none;
}